<div id="about" aria-label="Help Settings flyout" data-win-control="WinJS.UI.SettingsFlyout" data-win-options="{settingsCommandId:'about', width:'narrow'}">
    <div class="win-header win-ui-light">
        <button type="button" onclick="WinJS.UI.SettingsFlyout.show()" class="win-backbutton"></button>
        <div class="win-label">About</div>
        <img src="ms-appx:///images/smalllogo_black.png" style="position: absolute; right: 40px;" />
    </div>
    <div class="win-content">
        <p>
            Wild Wild Tanks is a demo project, showing how you can use JS itself and popular JS libraries for building Windows Store Apps.
            It uses AngularJS in conjunction with WinJS to build UI layer of the game.
        </p>
        <p>
            On the other side, heavy things you can delegate to compiled code, C# or C++.
            For instance, core of the Wild Wild Tanks was programmed in C#, through portable library, and then referenced by Windows and Windows.Phone presentation layer projects.
        </p>
        <p>
            Full source code of this project you can find on <a href="https://github.com/">GitHub</a>.
        </p>
    </div>
</div>
